form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.row1,
.row2,
.row3 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}

.emp_name_cont,
.emp_email_cont,
.emp_dept_cont,
.emp_startdate_cont,
.emp_loc_cont,
.emp_type_cont,
.input_cont {
  display: grid;
  grid-template-rows: auto 38px 20px; /* label, input, error */
  gap: 8px;
  min-width: 250px;
}

.emp_name,
.emp_email,
.emp_dept,
.emp_doj,
.emp_loc,
.emp_type {
  width: 100%; /* Fills the container */
  height: 38px;
  flex-shrink: 0;
  outline: none;
  border: none;
  padding: 0 10px;
  color: var(--color-text);
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  background-color: var(--color-elements);
  font-size: 14px;
}

.input-error {
  border-bottom: 1px solid #e55050;
}

.emp_name::placeholder,
.emp_email::placeholder {
  color: var(--color-text);
}

.emp_dept,
.emp_loc,
.emp_type {
  appearance: none;
}

form .submit-btn {
  width: 100px;
  height: 40px;
  padding: 0px 10px;
  background-color: var(--action-color);
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}

.btn-row {
  display: flex;
  justify-content: flex-end;
}

.error-text {
  font-size: 14px;
  color: #e55050;
}

.emp_loc::placeholder {
  color: var(--color-text);
}
