.admin_action-buttons {
  display: flex;
  gap: 15px;
}

.admin_action-buttons button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--color-elements);
  color: inherit;
}

.admin_delete:hover {
  color: red;
}
